.login-container[data-v-751a0a9d]{display:flex;justify-content:center;align-items:center;min-height:100vh;background-color:#f5f5f5}.login-card[data-v-751a0a9d]{width:400px}h2[data-v-751a0a9d]{margin:0;text-align:center}
