.register-container[data-v-cd94d5ce]{display:flex;justify-content:center;align-items:center;min-height:100vh;background-color:#f5f5f5}.register-card[data-v-cd94d5ce]{width:400px}h2[data-v-cd94d5ce]{margin:0;text-align:center}
